.score__body {
  text-align: center;
  padding: 1.5rem;
  .score__img {
    width: 200px;
    height: 200px;
  }
}
.question {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.quiz__option {
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  border: 1px solid rgba($color: #0d6efd, $alpha: 0.5);
  background: rgba($color: #0d6efd, $alpha: 0.2);
  padding: 0.25rem 0.75rem;
  transition: all 0.2s linear;
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &:hover {
    background: rgba($color: #0d6efd, $alpha: .5);
  }
  &.incorrect {
    border-color: #dc3545;
    color: #dc3545;
    background: rgba($color: #dc3545, $alpha: 0.3);
  }
  &.correct {
    border-color: #198754;
    color: #198754;
    background: rgba($color: #198754, $alpha: 0.3);
  }
}
.quiz__body:has(.quiz__option.correct) {
  pointer-events: none;
}

.score__footer {
  display: flex;
  align-items: center;
  padding: 0 1rem 1.5rem;
  justify-content: center;
}

