<div class="playground__container bg-info" [ngSwitch]="quizStep">
  <ng-container *ngSwitchCase="'box_quiz'">
    <div class="quiz__wrapper">
      <div class="quiz__header">
        <h4 class="me-auto mb-0">Quiz game</h4>
        <div class="quiz__timer {{timeLeft < 4 ? 'danger__time' : ''}}">
          <span class="fw-medium me-auto">Time left:</span>
          <span class="fw-semi-bold">{{'0' + timeLeft}}s</span>
        </div>
      </div>
      <div class="quiz__body">
        <div class="question">
          <b>{{firstNumber}}</b>
          <span class="mx-1">{{currentOperator}}</span>
          <b>{{secondNumber}}</b> = ?
        </div>
        <div class="d-grid quiz__option-wrapper gap-3">
          <div class="quiz__option" *ngFor="let option of listAnswers" (click)="checkAnswer(option)"
            [ngClass]="{'incorrect': option.selected && !option.correct, 'correct': (chosenOption || timeLeft === 0) && option.correct}">
            <span class="me-auto">{{option.value}}</span>
            <i class="bi fs-3 bi-check text-success" *ngIf="option.selected && option.correct"></i>
            <i class="bi fs-3 bi-x text-danger" *ngIf="option.selected && !option.correct"></i>
          </div>
        </div>
      </div>
      <div class="quiz__footer">
        <div class="me-auto d-inline-block" style="line-height: 38px;">
          <div>Score: <b>{{score}}</b>/{{numberOfQuiz}}</div>
        </div>
        <button class="btn btn-outline-secondary" (click)="back()">Exit</button>
        <button class="btn btn-primary ms-3" (click)="getQuiz()">Next quiz</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'box_rules'">
    <div class="rules__wrapper">
      <div class="rules__header">
        <h4 class="mb-0">Rules</h4>
      </div>
      <div class="rules__body">
        <ul class="rules__list-decimal">
          <li>You have only <strong class="text-primary">05 seconds</strong> for each questions.</li>
          <li>Once you select your answer. It can't be undone.</li>
          <li>You can't select any option once time goes off.</li>
          <li>You'll get points on the basis of your correct answers.</li>
        </ul>
      </div>
      <div class="rules__footer">
        <button class="btn btn-outline-secondary me-3" (click)="back()">Exit game</button>
        <button class="btn btn-primary" (click)="beginQuiz()">Continue</button>
      </div>
    </div>
  </ng-container>
</div>
